# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE / Editor settings
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Log files
*.log
